Package: com.yourcompany.automirrordisplay
Name: AutoMirrorDisplay
Version: 1.0.0
Architecture: iphoneos-arm64
Depends: firmware (>= 11.0)
Description: Control external display mirroring and extension modes on your iOS device.
Author: YourName
Maintainer: YourName
Section: tweaks
Compatible: 16.0
