Package: com.zocodo.automirror
Name: Auto Mirror
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome Orion tweak!
Maintainer: zocodo
Author: zocodo
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2), com.creaturecoding.libnotifications, com.creaturecoding.libpreferences
