Package: com.zocodo.ipad-auto-mirror-display
Name: iPad Auto Mirror Display
Description: Automatically switch to mirror mode when external display is connected
Maintainer: zocodo
Author: zocodo
Section: Tweaks
Depends: firmware (>= 14.0), preferenceloader
Architecture: iphoneos-arm64
Version: 0.0.1-8+debug
Installed-Size: 368
