Package: com.zocodo.ipad-auto-mirror-display
Name: iPad Auto Mirror Display
Description: Automatically switch to mirror mode when external display is connected
Maintainer: zocodo
Author: zocodo
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm
Version: 0.0.1-1+debug
Installed-Size: 344
